.hide {
  display: none;
}

/* #region basic */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
}

.top {
  margin-right: 76px;
}

.studio-header {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.nav-list-item.active {
  color: #404bbf;
}

.nav-list-item.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-item {
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-container {
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region  section-one*/
.section-one {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section-one {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-one-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .section-one-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-one-list {
    gap: 24px;
  }
}

.section-one-item {
  width: 288px;
}

@media only screen and (min-width: 768px) {
  .section-one-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .section-one-item {
    width: calc((100% - 72px) / 4);
  }
}

.section-one-thumb {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .section-one-thumb {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-one-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .section-one-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .section-one-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.section-one-text {
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .section-one-text {
    font-weight: 400;
  }
}
/* #endregion */

/* #region section-two */
.section-two {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-two-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.section-two-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.content-team {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-two-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.section-two-text {
  text-align: center;
}

.team-socials {
}

.social-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-icons-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-social-icons {
  fill: currentColor;
}
/* #endregion */

/* #region section-three */
.section-three {
  padding: 120px 0;
}
.section-three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.section-three-item {
  width: ((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  padding: 40px 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.section-three-item:hover .overlay {
  transform: translateX(0);
}

.section-three-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.content-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.section-three-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-three-text {
}
/* #endregion */

/* #region  footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-first-colomn {
  margin-right: 120px;
}

.logo .studio-footer {
  color: #f4f4fd;
}

.bottom {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-second-colomn {
  margin-right: 80px;
}

.social-desc {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social-icons {
  display: flex;
  gap: 16px;
}

.social-link.basement {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-link.basement:hover,
.social-link.basement:focus {
  background-color: #31d0aa;
}

.footer-third-colomn {
}
.social-desc {
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-label {
}

.subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.btn-subscribe {
  font: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  border: none;
  cursor: pointer;
}

.airplane {
  margin-left: 16px;
}

/* #endregion footer*/

/* #region modal */
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px;
  min-width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2e2f42;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
  border: 1px solid #4d5ae5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

input[type='checkbox']:checked + .modal-agreement-text .modal-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-agreement {
  margin-bottom: 24px;
}

.modal-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

.modal-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .modal-agreement-text .modal-checkbox {
  border: none;
  fill: #f4f4fd;
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* #endregion */
